/* website's graphic charter*/

$background_logo: hsl(0, 0%, 13%);
$primary_color: #003E78;
$primary_color_hover: #D4E8FA;
$secondary_color: #ffffff;
$router_children_hover: #7FA4C6;
$modal_color: #D4E8FA;

/* reponsive max width 768px (mobile and tablet)*/
$tablet_mobile_device: 768px;

/* page width and container and nav hover */
$page_top: 47px;
$nav_hover_active: 10px;
$page_width: 95%;